<link href="/css/footer.css" rel="stylesheet">
<footer>
<ul>
<li class="primary-text-download-link"><a download href="{{ version.dir }}/downloads/cst-primary-text-package.zip">{{- icons.box_archive -}}Text der Edition herunterladen</a>{{- icons.box_archive -}}</li>
<li class="versions-link"><a  href="{{ version.dir }}/versions/">{{- icons.code_compare -}}Versionen</a>{{- icons.code_compare -}}</a></li>
<li class="gitlab-link"><a target="_blank" href="https://gitlab.com/arbeitsgruppe-carl-schmitt/tagebuecher/">{{- icons.gitlab -}}Gitlab Repositorium</a>{{- icons.gitlab -}}</li>
<li class="linktree-link"><a href="https://linktr.ee/carl_schmitt" target="_blank">{{ icons.tree }}Carl Schmitt Linktree</a>{{ icons.tree }}</li>
<li><a href="{{ version.dir }}/privacy-policy/">Datenschutzerklärung</a></li>
<li><a href="{{ version.dir }}/impress/">Impressum</a></li>
<li><a href="{{ version.dir }}/licenses/">Lizenzen</a></li>
</ul>
</footer>
{% if icons.use_fontawesome_pro %}
    <link href="/fonts/fontawesome6/pro/css/brands.min.css" rel="stylesheet">
{% else %}
    <link href="/fonts/fontawesome6/free/css/brands.min.css" rel="stylesheet">
{% endif %}
{% for file in additional_js_files %}
    <script src="{{ version.dir }}/js/{{ file }}.js"></script>
{% endfor %}