<div id="frit-toolbar">
    <form style="display: none;">
        <input placeholder="Bildnummer" type="text">
    </form>
    <ul>
        <li style="display: none;"><button class="bare" title="Zum vorherigen Element scrollen">{{- icons.chevron_up -}}</button></li>
        <li style="display: none;"><button class="bare" title="Zum nächsten Element scrollen">{{- icons.chevron_down -}}</button></li>
        <li style="display: none;"><button class="bare" title="Vereinfachte Leseansicht zeigen">{{- icons.simple_view -}}</button></li>
        <li style="display: none;"><button class="bare" title="Inhaltsverzeichnis zeigen">{{- icons.list_ul -}}</button></li>
        <li>
        <div class="click dropdown">
        <button class="bare" title="Legende zeigen">{{- icons.map -}}</button>
        <div id="frit-legend" class="dropdown-content">
        <h1>Legende</h1>
        <div class="grid-table">
        <span class="rendition">normaler Text</span><span class="meaning">in Gabelsberger Stenografie geschrieben</span>
        <span class="rendition"><span class="strikethrough">durchgestrichener Text</span></span><span class="meaning">gestrichen, überschrieben oder gelöscht</span>
        <span class="rendition"><span class="longhand">gesperrter Text</span></span><span class="meaning">im lateinischen Alphabet geschrieben</span>
        <span class="rendition"><span style="padding-right: 5px;">grauer Balken</span><span class="gap word"></span></span><span class="meaning">Lücke, Text nicht zu entziffern</span>
        <span class="rendition"><span class="unclear">grauer Text</span></span><span class="meaning">unsichere Lesart</span>
        <span class="rendition"><span class="hi">halbfetter Text</span></span><span class="meaning">von Schmitt hervorgehoben</span>
        <span class="rendition"><i>kursiver Text</i></span><span class="meaning">Nachtrag (Kommentar oder Ergänzung)</span>
        <span id="legend-editorial-comment" class="rendition">Asterisk<span>{{- icons.asterisk -}}</span></span><span class="meaning">editorische Anmerkung</span>
        <span id="legend-link-to-external-entity" class="rendition"><span>Pfeil{{- icons.long_arrow_up -}}</span></span><span class="meaning">Verweis auf textexterne Entität (Ereignis, Körperschaft, Ort, Person, Titel)</span>
        <span class="rendition"><span><span style="color: var(--grayed-out-font-color); font-size: 14px;"><span class="lbCountBracket">[</span>1<span class="lbCountBracket">]</span></span> kleine Zahl in eckigen Klammern</span></span><span class="meaning">Zeilenanfang (nur in Materialansicht)</span>
        </div>
        <div class="comments">
        <span class="comment"><b>Datums- und Uhrzeitangaben</b>, die Carl Schmitts Tagebucheinträge strukturieren, sind <b>fett</b> wiedergegeben.</span>
        </div>
        </div>
        </div>
        </li>
        <li>
        <div class="click dropdown">
        <button class="bare" title="Einstellungen">{{- icons.gear -}}</button>
        <div id="frit-settings-menu" class="dropdown-content">
        <fieldset id="text-mode-menu" style="margin-top: 2px;">
        <legend>Textdarstellung</legend>
        <div>
            <input type="radio" id="standard-text-mode-button" name="text-mode-button" value="standard-text-mode" checked>
            <label for="standard-text-mode-button">Annotiert</label>
        </div>
        <div>
            <input type="radio" id="zen-text-mode-button" name="text-mode-button" value="zen-text-mode">
            <label for="zen-text-mode-button">Zen</label>
        </div>
        </fieldset>
        <fieldset id="theme-menu" style="margin-top: 10px;">
        <legend>Farbschema</legend>
        <div>
            <input type="radio" id="frit-bright-color-theme-button" name="frit-color-theme-button" value="bright-theme">
            <label for="frit-bright-color-theme-button">Hell</label>
        </div>
        <div>
            <input type="radio" id="frit-light-color-theme-button" name="frit-color-theme-button" value="light-theme">
            <label for="frit-light-color-theme-button">Sanft</label>
        </div>
        <div>
            <input type="radio" id="frit-dark-color-theme-button" name="frit-color-theme-button" value="dark-theme">
            <label for="frit-dark-color-theme-button">Dunkel</label>
        </div>
        <div>
            <input type="radio" id="frit-black-color-theme-button" name="frit-color-theme-button" value="black-theme">
            <label for="frit-black-color-theme-button">Schwarz</label>
        </div>
        </fieldset>
        <fieldset id="frit-font-size-menu" style="margin-top: 10px;">
        <legend>Schriftgröße</legend>
        <div>
            <input type="radio" id="frit-small-font-button" name="frit-font-size-button" value="small">
            <label for="frit-small-font-button">Klein</label>
        </div>
        <div>
            <input type="radio" id="frit-medium-font-button" name="frit-font-size-button" value="medium">
            <label for="frit-medium-font-button">Mittel</label>
        </div>
        <div>
            <input type="radio" id="frit-large-font-button" name="frit-font-size-button" value="large">
            <label for="frit-large-font-button">Groß</label>
        </div>
        </div>
        </div>
        </li>
    </ul>
</div>
