<head>
<meta charset="utf-8">
<link href="/imgs/favicon.ico" rel="shortcut icon">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="author" content="Arbeitsgruppe Carl Schmitt">
<title>CST | {{ title }}</title>
<meta content="{{ content_description }}" name="description">
<style>
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/google-fonts/Roboto/Roboto-Thin.woff2') format('woff2')
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/google-fonts/Roboto/Roboto-Regular.woff2') format('woff2')
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/google-fonts/Roboto/Roboto-Medium.woff2') format('woff2')
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/google-fonts/Roboto/Roboto-Bold.woff2') format('woff2')
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/google-fonts/Roboto/Roboto-Italic.woff2') format('woff2')
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-style: italic;
    font-weight: 500;
    src: url('/fonts/google-fonts/Roboto/Robot-MediumItalic.woff2') format('woff2')
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/google-fonts/Roboto/Robot-BoldItalic.woff2') format('woff2')
}
@font-face {
    font-family: 'Lora';
    font-display: swap;
    font-style: normal;
    src: url('/fonts/google-fonts/Lora/Lora-VariableFont_wght.woff2') format('woff2')
}
@font-face {
    font-family: 'Lora';
    font-display: swap;
    font-style: italic;
    src: url('/fonts/google-fonts/Lora/Lora-Italic-VariableFont_wght.woff2') format('woff2')
}
{% for font in additional_fonts %}
{% if font == "Inconsolata" %}
@font-face {
    font-family: 'Inconsolata';
    font-display: swap;
    src: url('/fonts/google-fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.woff2') format('woff2')
}
{% endif %}
{% endfor %}
</style>
<link href="{{ version.dir }}/css/general.css" rel="stylesheet">
{% if icons.use_fontawesome_pro %}
    <link href="/fonts/fontawesome6/pro/css/fontawesome.min.css" rel="stylesheet">
    <link href="/fonts/fontawesome6/pro/css/duotone.min.css" rel="stylesheet">
    <link href="/fonts/fontawesome6/pro/css/thin.min.css" rel="stylesheet">
    <link href="/fonts/fontawesome6/pro/css/sharp-solid.min.css" rel="stylesheet">
{% else %}
    <link href="/fonts/fontawesome6/free/css/fontawesome.min.css" rel="stylesheet">
    <link href="/fonts/fontawesome6/free/css/solid.min.css" rel="stylesheet">
{% endif %}
<link href="{{ version.dir }}/css/main-nav-bar.css" rel="stylesheet">
{% for file in additional_css_files %}
    <link href="{{ version.dir }}/css/{{ file }}.css" rel="stylesheet">
{% endfor %}
</head>