<!doctype html>
<html lang="de">
    {% include "_includes/head.liquid" %}
    <body>
        <div class="{{- page_css_class -}}" id="main-wrapper">
            <div id="cover-image-container">
                {% include "_includes/main-nav-bar.liquid" %} <img alt="cover-image" src="/imgs/cover/berlin-1945-faehrbetrieb-auf-lwk-7zu4.avif" width="100%" height="auto"/>
                <div id="cover-label">
                    <header>
                        <h1>Carl Schmitt
                            <span class="main-title">Tagebücher</span>
                        </h1>
                        <p>
                            <span class="subtitle">Digitale Edition</span>, hg. von<br/>
                            Philip Manow, Florian Meinel<br/>
                            und Angela Reinthal
                        </p>
                        <p class="version-info">{{- version.label }} {{ version.number -}}<br/> Kompiliert am {{ version.build_date }} um {{ version.build_time -}}
                        </p>
                    </header>
                </div>
                <div class="caption">
                    <div class="inner-wrapper">
                        Bild: „Fährbetrieb auf dem Landwehrkanal an der zerstörten Möckernbrücke, 1945“<br/>Quelle:
                        <a
                            href="https://www.wsa-spree-havel.wsv.de/Webs/WSA/Spree-Havel/DE/01_Wasserstrassen/03_Landwehrkanal/07_Geschichte/geschichte_node.html"
                            target="_blank">WSV.de</a>
                    </div>
                </div>
            </div>
            <main>
                {{- content -}}
            </main>
            {% include "_includes/footer.liquid" %}
        </div>
        <script src="/js/edition-page.js"></script>
<script> const editionPage = new EditionPage( { "name": "{{- js_page_name -}}" } ); </script>
    </body>
</html>