<nav id="main-nav-bar">
    <header>
        <a href="{{ version.dir }}/">
            <div class="inner-wrapper">
                <span class="line-1">Carl Schmitt</span>
                <br>
                <span class="line-2">Tagebücher</span>
                <br>
                <span class="version-info">{{ version.label }} {{ version.number }}</span>
            </div>
        </a>
    </header>
    <ul id="main-nav-bar-buttons">
        <li class="main-nav-button" title="Projektbeschreibung"><a href="{{ version.dir }}/#project-description">
            <div class="inner-wrapper">Projekt</div>
        </a></li>
        <li class="main-nav-button" id="diaries-button" title="Chronologische Gesamtübersicht über die Tagebücher"><a href="{{ version.dir }}/diaries/">
            <div class="inner-wrapper">{{- icons.books -}} Tagebücher</div>
        </a></li>
        <li class="main-nav-button" title="Kalendarischer Zugang zu einzelnen Tagebucheinträgen nach Datum"><a href="#">
            <div class="inner-wrapper">Kalender</div>
        </a></li>
        <li class="main-nav-button" id="main-nav-bar-registers-menu">
            <div class="hover dropdown">
                <div class="wrapper">
                    <a>
                        <div class="inner-wrapper">Register</div>
                    </a>
                    <div class="dropdown-content">
                        <a href="#">Orte</a>
                        <a href="{{ version.dir }}/persons/">Personen</a>
                        <a href="#">Texte</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="main-nav-button" title="Volltextsuche in sämtlichen edierten Tagebüchern"><a href="#">
            <div class="inner-wrapper">Suche</div>
        </a></li>
    </ul>

    <div class="click dropdown" id="main-nav-bar-mobile-menu">
        <button id="main-nav-bar-mobile-menu-button" title="Mobile menu">
            <i class="far fa-bars"></i>
        </button>
        <div class="dropdown-content">
            <a href="{{ version.dir }}/#project-description">Das Projekt</a>
            <a href="{{ version.dir }}/diaries/">Die Tagebücher</a>
            <a href="#">Kalender</a>
            <a href="#">Ortsregister</a>
            <a href="{{ version.dir }}/persons/">Personenregister</a>
            <a href="#">Textregister</a>
            <a href="#">Suche</a>
        </div>
    </div>
    <div id="main-nav-bar-config-buttons-wrapper">
        <div id="switch-theme-button-wrapper">
            <button id="switch-theme-button"></button>
        </div>
        <div id="font-size-buttons-wrapper">
            <button id="large-font-size-button" title="Fließtext verkleinern">A</button>
            <button id="medium-font-size-button" title="Fließtextgröße zurücksetzen">A</button>
            <button id="small-font-size-button" title="Fließtext vergößern">A</button>
        </div>
    </div>
</nav>
