<!doctype html>
<html lang="de">
{% include "_includes/head.liquid" %}
<body>
<div class="{{ css_class }}" id="main-wrapper">
  {% include "_includes/main-nav-bar.liquid" %}
  <main>
    {{ content }}
  </main>
  {% include "_includes/footer.liquid" %}
</div>
<script src="/js/edition-page.js"></script>
<script>
  const editionPage = new EditionPage({ "name": "{{ js_page_name }}" });
</script>
{% if js_page_name contains "RW_" %}
  <script src="/js/primary-text.js"></script>
  <script>
    const book = new Frit();
  </script>
{% endif %}
{% if comments_path %}
  <script id="comments-data" type="application/json">
    {% include comments_path %}
  </script>
{% endif %}
</body>
</html>