---
layout: standard.liquid
additional_css_files: [diaries]
title: Übersicht
js_page_name: diariesPage
---
<div class="editorial-text">
    <div class="intro">
        <h1>Tagebücher <span class="subtitle">(1912 bis frühe 1970er Jahre)</span></h1>
        <p>Eine Liste der Tagebücher nach Epochen, aufbauend auf den bisher publizierten Bänden</p>
        <p>Die angegebenen Signaturnummern beziehen sich, soweit nicht anders angegeben, auf Schmitts Nachlass, der unter der
            Signatur <b>RW 265</b> im <a
                href="https://www.archive.nrw.de/landesarchiv-nrw/landesarchiv-nrw-abteilung-rheinland-duisburg"
                target="_blank">Landesarchiv Nordrhein-Westfalen, Abteilung Rheinland</a> aufbewahrt wird. Die ausgegrauten Titel
            sind
            im Rahmen dieser Edition noch nicht verfügbar.</p>
        <p>Bildschirm weit ziehen, um Inhalt in zwei Spalten darzustellen</p>
    </div>
    <div class="col-wrapper" id="diaries-overview">
        <div class="col">
            <h2>Die Referendarzeit <span class="subtitle">(1912-1915)</span></h2>
            <p><b>Print:</b> <i>Tagebücher Oktober 1912 bis Februar 1915</i>, herausgegeben von Ernst Hüsmert, Berlin:
                Akademie Verlag 2003, 2. Aufl. 2005</p>
            <h3>Manuskripte</h3>
            <ul class="diary-list">
                <li><a class="inactive-link">Oktober bis Dezember 1912 (Nr. 19599)</a></li>
                <li><a class="inactive-link">September 1913 bis Februar 1914 (Nr. 21629)</a></li>
                <li><a class="inactive-link">Juni 1914 bis Februar 1915 (Nr. 21629)</a></li>
            </ul>
            <h2>Die Militärzeit <span class="subtitle">(1915-1919)</span></h2>
            <p><b>Print:</b> <i>Die Militärzeit 1915 – 1919. Tagebuch Februar bis Dezember 1915</i>, herausgegeben von
                Ernst
                Hüsmert und Gerd Giesler, Berlin: Akademie Verlag 2005</p>
            <h3>Manuskripte</h3>
            <ul class="diary-list">
                <li><a class="inactive-link">Tagebuch Türkenkaserne Februar bis Mai (Nr. 21629 und 21630)</a></li>
                <li><a class="inactive-link">Tagebuch Mai bis Dezember 1915 (Nr. 19585)</a></li>
                <li><a class="inactive-link">Dokumente zur Tätigkeit im stellvertr. Generalkommando I. bayer. Armee-Korps 1915 bis 1919, bayer. Hauptstaatsarchiv München, Abtlg. IV (Kriegsarchiv)</a></li>
            </ul>
            <h2>Der Schatten Gottes <span class="subtitle">(1921-1924)</span></h2>
            <p><b>Print:</b> <i>Der Schatten Gottes. Introspektionen, Tagebücher und Briefe 1921 bis 1924</i>, herausgegeben von Ernst Hüsmert, Gerd Giesler und Wolfgang H. Spindler, Berlin: Duncker & Humblot 2014</p>
            <h3>Manuskripte</h3>
            <ul class="diary-list">
                <li><a class="inactive-link">Tagebuch Teil I (Nr. 19585 und 19740)</a></li>
                <li><a class="inactive-link">Tagebuch Teil II (Nr. 19585 und 21638 )</a></li>
                <li><a class="inactive-link">Tagebuch Teil III (Nr. 19585)</a></li>
            </ul>
            </Manuskripte>
            <h2>Tagebuch <span class="subtitle">(1925-1929)</span></h2>
            <p><b>Print:</b> <i>Tagebücher 1925 bis 1929</i>, herausgegeben von Martin Tielke und Gerd Giesler, Berlin:
                Duncker & Humblot 2017</p>
            <h3>Manuskripte</h3>
            <ul class="diary-list">
                <li><a class="inactive-link">Chronologisches Tagebuch 1925-1929 (Nr. 19585, 19598,
                        21673 und 21638)</a></li>
                <li><a class="inactive-link">Paralleltagebuch (Nr. 19604)</a></li>
                <li><a class="inactive-link">Paralleltagebuch (Nr. 19606)</a></li>
            </ul>
            <h2>Tagebuch <span class="subtitle">(1930-1934)</span></h2>
            <p><b>Print:</b> <i>Tagebücher 1930-1934</i>, herausgegeben von Wolfgang Schuller und Gerd Giesler, Berlin:
                Akademie Verlag 2010</p>
            <h3>Manuskripte</h3>
            <ul class="diary-list">
                <li><a class="inactive-link">Chronologisches Tagebuch RW 265 Nr. 21640</a></li>
                <li><a class="inactive-link">Taschenkalender (Januar bis August 1934) RW 265 Nr. 19705</a></li>
                <li><a class="inactive-link">Paralleltagebbuch 29 Blatt RW 265 Nr. 21640</a></li>
                <li><a class="inactive-link">Paralleltagebuch 44 Blatt RW 265 Nr. 19604</a></li>
                <li><a class="inactive-link">Paralleltagebuch 5 Blatt RW 265 Nr. 19606</a></li>
            </ul>
        </div>
        <div class="col">
            <h2>Kriegstagebücher <span class="subtitle">(1939-1945)</span></h2>
            <h3>Manuskripte</h3>
            <ul class="diary-list">
                <li><a class="inactive-link">Exzerpte Mai 1942 bis März 1943
                        (Nr. 19602)</a></li>
                <li><a href="{{- version.dir -}}/RW-0265-19618/"><span class="title">Tagebücher März bis September 1943</span>
                        (Nr. 19618)</a></li>
                <li><a href="{{- version.dir -}}/RW-0265-19601/"><span class="title">„Hänschen“ – Exzerpte Juli 1944 bis April 1945
                            nebst
                            Tagebuchaufzeichnungen einer Spanienreise Mai/Juni 1943</span> (Nr. 19601)</a></li>
                <li><a class="inactive-link">Okt. 1939 – April 1941, 2 Teile, ca. 170 S., Nr. 19616</a></li>
                <li><a class="inactive-link">31.7. – 3.12.1941, ca. 100 S., Nr. 19617</a></li>
                <li><a class="inactive-link">10.12.1941 – 15.5.1942, ca. 75 S., Nr. 19615</a></li>
                <li><a class="inactive-link">Taschenkalender 1939</a></li>
                <li><a class="inactive-link">Taschenkalender 1940</a></li>
                <li><a class="inactive-link">Taschenkalender 1941</a></li>
                <li><a class="inactive-link">Taschenkalender 1942</a></li>
                <li><a class="inactive-link">Taschenkalender 1943</a></li>
                <li><a class="inactive-link">Taschenkalender 1944</a></li>
                <li><a class="inactive-link">Taschenkalender 1945</a></li>
            </ul>
            <h2>Camp-Tagebuch <span class="subtitle">(1945)</span></h2>
            <h3>Manuskripte</h3>
            <ul class="diary-list">
                <li><a class="inactive-link">1.3. – 23.9.1945, A5 lose Blätter, Umfang 135 Seiten, Nr. 19586</a></li>
                <li><a class="inactive-link">Tagebuch-Notizen 1.3.-20.9.1945 sowie Juni 1947 (Camp), Nr. 19619</a></li>
                <li><a class="inactive-link">Aufzeichnungen Schlachtensee Juni/Juli 1945, Nr. 19620</a></li>
                <li><a class="inactive-link">Taschenkalender Duschka Schmitt 1945, Nr. 20827</a></li>
            </ul>
            <h2>Glossarium <span class="subtitle">(1947-1958)</span></h2>
            <p><b>Print:</b> <i>Glossarium – Aufzeichnungen aus den Jahren 1947 bis 1958</i>, 2. Aufl., herausgegeben
                von
                Gerd Giesler und Martin Tielke, Berlin: Duncker & Humblot 2015</p>
            <ul class="diary-list">
                <li><a class="inactive-link">Glossarium Buch I: RW 0265, Nr. 19607</a></li>
                <li><a class="inactive-link">Glossarium Buch II: RW 0265, Nr. 19608</a></li>
                <li><a class="inactive-link">Glossarium Buch III: RW 0265, Nr. 19609</a></li>
                <li><a class="inactive-link">Glossarium Buch VI: RW 0265, Nr. 19610</a></li>
                <li><a class="inactive-link">Glossarium Buch V: RW 0265, Nr. 19611</a></li>
            </ul>
            <h2 style="margin-bottom: 30px;">Späte Aufzeichnungen (1959-frühe Siebziger)</h2>
        </div>
    </div>
</div>
