---
layout: standard.liquid
title: Impressum
js_page_name: impressPage
---
<div class="editorial-text">
	<header><h1>Impressum</h1>
		<p><b>DFG-Projekt <i>Transkription und Hybridedition der Tagebücher Carl Schmitts aus der Zeit des Zweiten Weltkrieges</i></b></p>
	</header>
	<h2>Kontakt</h2>
	<p>
		Prof. Dr. Florian Meinel<br>
		Institut für Grundlagen des Rechts<br>
		Abteilung für Staatstheorie, Politische Wissenschaften  Vergleichendes Staatsrecht<br>
		Nikolausberger Weg 17<br>
		37073 Göttingen<br>
		Germany
	</p>
	<p>
		E-Mail: florian.meinel@jura.uni-goettingen.de<br>
		Phone: +495513924693
	</p>
</div>