---
layout: index.liquid
additional_css_files: [index]
js_page_name: indexPage
page_css_class: start-page
title: Projekt
---
<div class="widget-wrapper">
	<div class="accordion-wrapper" id="available-books-widget">
		<button class="accordion bare" title="Inhalt anzeigen">
			<h3>Verfügbare Hefte<i class="fas fa-angle-down"></i></h3>
		</button>
		<div class="panel" data-visible="false">
			<div class="header">
				<p><i>Folgende Hefte sind im Rahmen der Edition bereits verfügbar.</i></p>
			</div>
			<div class="body">
				<div class="entry">
					<p><i>seit 14.12.2022:</i>
						<a class="title" href="{{- version.dir -}}/RW-0265-19618/">
						<br>Tagebücher März bis September 1943</a>
						<br><i>(96 Scans, ca. 192 Seiten im Format <span class="book-dimensions">9,5 cm</span> x <span class="book-dimensions">15 cm</span>)</i>
					</p>
					<a title="Bild in Lightbox öffnen"><img alt="Faksimile von Heft 19618" src="imgs/RW-0265-19618-0041_preview.avif" width="355" height="auto"/></a>
				</div>
			</div>
			<div class="footer">
				<p><a href="{{- version.dir -}}/diaries/">Zur Gesamtübersicht aller Hefte</a></p>
				<button class="bare" title="Link zu dieser Karte kopieren">
				</button>
			</div>
		</div>
	</div>
</div>
{% include "_includes/index-content.liquid" %}