---
layout: standard.liquid
title: Lizenzen
js_page_name: licensesPage
---
<div class="editorial-text" style="max-width: 600px;">
	<h1>Lizenzen</h1>
	<p>Wir veröffentlichen den Text der Tagebücher Carl Schmitts auf dieser Website als kulturelles Gemeingut unter der Lizenz <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">CC BY-NC-ND 4.0</a>. Die gleiche Lizenz gilt auch für den TEI XML-Code in unserem <a href="https://gitlab.com/arbeitsgruppe-carl-schmitt/public-xml" target="_blank">Git-Repositorium</a>, der dem hier publizierten Text zugrundeliegt.</p>
</div>