---
additional_css_files: [entities]
js_page_name: personsPage
layout: standard.liquid
title: Personenverzeichnis
---
<div class="editorial-text">
<div class="intro">
<h1>Personenverzeichnis</h1>
<p>Dieses maschinell erstellte <em>und zunächst noch vorläufige</em> Personenverzeichnis listet in alphabetischer Reihenfolge die Personen auf, die Carl Schmitt in seinen Tagebüchern nennt. Es enthält zusätzlich auch Personen, die lediglich als Autoren vorkommen. Die Lebensdaten und Informationen zur Disambiguierung stammen aus der <a href="https://www.dnb.de/DE/Professionell/Standardisierung/GND/gnd_node.html">Gemeinsamen Normdatei</a> der Deutschen Nationalbibliothek (GND). Zu einzelnen Personen ergänzen wir Informationen, die in Zusammenhang mit Carl Schmitt besonders erwähnenswert sind.</p>
<p>Einträge mit dem Kürzel „<span style="font-family: var(--deco-font)">GND</span>“ in der Namenszeile sind bereits mit der GND verknüpft.</p>
<p>Das Verzeichnis enthält aktuell noch zahlreiche Personen mit dem Kürzel „N. N.“, die nicht oder unzureichend identifiziert wurden.</p>
<p>Das Verzeichnis umfasst {{ persons.size }} Einträge.</p>
</div>
</div>
<div class="frit-viewer">
<nav>
{% for person in persons %}
<div class="accordion-wrapper" data-sortkey="{{- person.sortkey -}}">
<h2 class="accordion entity-name" id="{{- person.id -}}">
<button class="bare">
{{- person.index_name }} ({{- person.birth_date -}}-{{- person.death_date -}})
{{- icons.angle_up -}}
{% if person.is_gnd_entry %}
<span class="gnd-mark">GND</span>
{% endif %}
</button></h2>
<div class="panel" data-visible="true">
{% assign occurences_count = person.occurences.size %}
<p><a href="./{{- person.id -}}/">{% if occurences_count == 1 %}
Eine Erwähnung
{% elsif occurences_count > 1 %}
{{- occurences_count }} Erwähnungen
{% endif %}</a></p>
{% if person.cst_info %}
<p>Bezug zu Carl Schmitt: {{- person.cst_info -}}</p>
{% endif %}
{% if person.gndo_biographicalOrHistoricalInformation %}
<h3>GND-Daten</h3>
<p><i>Biografische Information</i>: {{ person.gndo_biographicalOrHistoricalInformation -}}</p>
<p><i>ID</i>: <a href="https://d-nb.info/gnd/{{- person.gnd_id -}}">{{- person.gnd_id -}}</a></p>
{% endif %}
</div>
</div>
{% endfor %}
</nav>
</div>
