---
pagination:
  data: persons
  size: 1
  alias: person
additional_css_files: [entity-entry]
permalink: "persons/{{ person.id }}/"
layout: standard.liquid
eleventyComputed:
  js_page_name: "{{ person.id }}_page"
  title: "{{ person.display_name }}" 
---
<h1>{{- person.display_name }} ({{- person.birth_date -}}-{{- person.death_date -}})</h1>
{% if person.cst_info %}
<section class="cst-info">
<p>{{- person.cst_info -}}</p>
</section>
{% endif %}
{% if person.gndo_biographicalOrHistoricalInformation %}
<section class="gnd-data">
<h2><a href="https://www.dnb.de/DE/Professionell/Standardisierung/GND/gnd_node.html">GND</a>-Daten</h2>
<p><b>Biografische Information</b>: {{ person.gndo_biographicalOrHistoricalInformation -}}</p>
<p><b>ID</b>: <a href="https://d-nb.info/gnd/{{- person.gnd_id -}}">{{- person.gnd_id -}}</a></p>
</section>
{% endif %}
<section class="list-link">
[<a href="../#{{- person.id -}}">Eintrag in Listenansicht des Personenverzeichnisses zeigen</a>]
</section>
<h2>
{% assign occurences_count = person.occurences.size %}
Erwähnt in
{% if occurences_count == 1 %}
einem Eintrag
{% else %}
{{- occurences_count }} Einträgen
{% endif %}
</h2>
<ul>
{% for occurence in person.occurences %}
<li><a href="../../{{- occurence.containing_book -}}/#{{- occurence.id -}}">
{% if occurence.is_dated %}
{{- occurence.entry_type }} vom {{ occurence.date_label -}}
{% elsif occurence.entry_type == "Exzerpt" %}
Undatiertes {{ occurence.entry_type -}}
{% else %}
Undatierter {{ occurence.entry_type -}}{% endif %}</a>:
{{ occurence.preceding_context -}}<b>{{- occurence.text_content -}}</b>{{- occurence.following_context -}}</li>
{% endfor %}
</ul>