---
layout: standard.liquid
title: Datenschutzerklärung
js_page_name: privacyPolicyPage
---
<div class="editorial-text" style="max-width: 700px">
<h1>Datenschutzerklärung</h1>

<p>Die Website der <i>Carl Schmitt Tagebücher</i> stellt kulturelle Güter bereit und verfolgt dabei keine kommerziellen Absichten. Daher erheben wir auch keine personalisierten Nutzerdaten, die sich irgendwie kommerziell verwerten ließen. Damit die Website im Webbrowser des Nutzers angezeigt wird, muss der Server, auf dem die Website liegt, die IP-Adresse des Nutzers verarbeiten. Das ist keine Besonderheit unserer Website, sondern die Funktionsweise des Internets.</p>

<p>Wir zeichnen keine personalisierten Daten auf, die Rückschlüsse auf konkrete Personen erlauben würden. Wir können daher auch auf Wunsch keine personenbezogenen Daten bereitstellen. Wir behalten uns allerdings vor, anonymisierte Nutzerdaten zu speichern, um zu prüfen, wie die Website gebraucht wird, um sie inhaltlich und technisch zu verbessern.</p>

<p>Um die technische Funktionalitäten der Website wie die vom Nutzer gewünschte Schriftgröße, das gewünschte Farbschema usw. herzustellen, behalten wir uns den Gebrauch von Cookies und des Local Storage im Webbrowser des Nutzers vor. Diese Daten werden allerdings nicht auf unserem Server, sondern lokal im Browsercache des Nutzers gespeichert. Die Website plaziert und verwendet keine Cookies von Drittanbietern wie Amazon, Facebook, Twitter usw.</p>

<p>Die Website enthält Links zu anderen Websites. Für den Inhalt verlinkter anderer Websites sind wir nicht verantwortlich.</p>

<p>Bei Fragen zum Datenschutz bezüglich dieser Website wenden Sie sich bitte an die Datenschutzbeauftragen der Universität Göttingen:</p>

<h2>Datenschutzbeauftragter der Universität</h2>

<p>
<b>Prof. Dr. Andreas Wiebe LL.M. (Virginia)</b><br>
Lehrstuhl für Bürgerliches Recht, Wettbewerbs- und Immaterialgüterrecht, Medien- und Informationsrecht<br>
Platz der Göttinger Sieben 6<br>
37073 Göttingen<br>
Tel.: 0551 39 - 27381<br>
lehrstuhl.wiebe@jura.uni-goettingen.de<br>
datenschutz@uni-goettingen.de
</p>

<h2>Stellvertretender Datenschutzbeauftragter</h2>
<p>
<b>Ass. iur. Florian Hallaschka</b><br>
Goßlerstraße 5/7<br>
Raum 2.103<br>
37073 Göttingen<br>
Tel.: 0551 39-24689<br>
datenschutz@uni-goettingen.de
</p>
</div>