---
layout: standard.liquid
additional_css_files: [versions]
additional_fonts: [Inconsolata]
title: Versionen
js_page_name: versionsPage
---
<div class="editorial-text">
	<h1>Versionen</h1>
	<p>Die Skripte zur Erzeugung der Website und der in TEI XML gespeicherte Editionstext werden in getrennten Git-Repositorien gehalten. Dementsprechend geben wir pro Version zwei verschiedene Commits an, die zum jeweiligen Repositorium führen. Von dem internen Quelltextrepositorium sind öffentlich nur Metadaten verfügbar.<br>
	---</p>
	<ul>
		{% for version in versions_index.versions %}
		<li><a class="title" href="{{- version.site_subdir -}}/">{{- version.version_label -}} {{- version.version_number -}}</a> ({{ version.build_date }})
			<br>{% if version.is_stable %}Archivierte Version{% else %}Veränderliche Version{% endif %}
			<br>Website basiert auf Commit <a target="_blank" href="{{- version.main_repo_history_url -}}{{- version.main_repo_commit -}}">{{- version.main_repo_commit_short -}}</a>
			{% if version.source_repo_commit %}<br>Text basiert auf Commit <a target="_blank" href="{{- version.source_repo_history_url -}}{{- version.source_repo_commit -}}">{{- version.source_repo_commit_short -}}</a>{% endif %}
		</li>
		{% endfor %}
	</ul>
	...
</div>