---
book_id: 
comments_path:
layout: standard.liquid
pdf_page_view_path:
pdf_page_view_size:
title:
xml_page_view_path:
xml_page_view_size:
js_page_name:
css_class: single-text-view
additional_css_files: [primary-text, page-view]
additional_js_files: [primary-text]
---
<div class="notebook-description">
    {% include "_includes/book_editorial.liquid" %}
    <div class="accordion-wrapper">
        <button class="accordion bare" title="Inhalt verbergen">
            <h3>Downloads {{ icons.angle_up -}}</h3>
        </button>
        <div class="panel downloads" data-visible="true">
            <a href="../{{- pdf_page_view_path -}}">{{- icons.pdf_file }} Materialnahe Ansicht, PDF ({{ pdf_page_view_size -}})</a>
            <a class="inactive-link" href="../{{- book_id -}}_simple-view.pdf">{{- icons.pdf_file }} Vereinfachte Ansicht, PDF ([Size])</a>
            <a href="../{{- xml_page_view_path -}}" download>{{- icons.xml_file }} Quellcode der materialnahen Ansicht, XML ({{- xml_page_view_size -}})</a>
            <a class="inactive-link" href="../{{- book_id -}}_simple-view.xml" download>{{- icons.xml_file }} Quellcode der vereinfachten Ansicht, XML ([Size])</a>
        </div>
    </div>
</div>
<div class="frit-viewer standard-text-mode">
    {% include "_includes/frit-toolbar.liquid" %}
    {% include "_includes/book_page-view.liquid" %}
</div>