@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/google-fonts/Roboto/Roboto-Thin.woff2') format('woff2')
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/google-fonts/Roboto/Roboto-Regular.woff2') format('woff2')
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/google-fonts/Roboto/Roboto-Medium.woff2') format('woff2')
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/google-fonts/Roboto/Roboto-Bold.woff2') format('woff2')
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/google-fonts/Roboto/Roboto-Italic.woff2') format('woff2')
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-style: italic;
    font-weight: 500;
    src: url('/fonts/google-fonts/Roboto/Robot-MediumItalic.woff2') format('woff2')
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/google-fonts/Roboto/Robot-BoldItalic.woff2') format('woff2')
}

body {
    font-family: 'Noto Serif';
}

header {
    border: 3px solid lightgray;
    font-family: 'Roboto';
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    padding: 25px;
}
header h1,
header h2 {
    font-weight: normal;
}
header h1 {
    margin: 0 0 1rem 0;
}
header h2 {
    font-size: 1.2rem;
    margin: 0;
}

p, ul {
    orphans: 2;
    widows: 2;
}
p {
    line-height: 1.5rem;
    hyphens: auto;
    text-align: justify;
    margin: 0;
}
.add,
.note {
    font-style: italic;
}
.editorial h1,
.editorial h2 {
    text-align: center;
    font-weight: 500;
}
.editorial h1 {
    font-size: 1.7rem;
}
.editorial h2 {
    font-size: 1.4rem;
}
.editorial {
    margin-top: 90px;
    font-family: 'Roboto';
}
.entry {
    margin-top: 1rem;
}
.entry-date {
    font-weight: 700;
}
.hi {
    font-weight: 600;
}
.indent {
    display: inline-block;
    width: 1.4rem;
}
.lb.standard,
.lb.in-word {
    display: inline-block;
    font-size: 0.9rem;
    color: gray;
    position: relative;
    top: -0.05rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
}
.lb.standard {
    padding-right: 0.28rem;
}
.lb.in-word {
    padding-right: 0;
}
.longhand {
    letter-spacing: 0.134rem;
}
.unclear {
    color: #656565;
}

@media print {
    h1, h2, h3, h4, h5 {
        page-break-before: auto;
        page-break-after: avoid;
    }
    html {
        font-size: 12px;
    }
    .editorial {
        break-after: page;
    }
    .version-info {
        -prince-float: bottom;
    }
    .version-info h2 {
        text-align: left;
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
    }
    .version-info p {
        font-size: 0.9rem;
        line-height: 1.1rem;
        margin-top: 0;
    }
    @page {
        size: A4;
        margin-top: 2.8cm;
        margin-left: 0.5cm;
        margin-right: 0.5cm;
        padding-top: 0;
        @top-center {
            font-family: 'Noto Serif';
        }
        @leftnote {
            width: 4.5cm;
            padding-right: 1rem;
        }
        @rightnote {
            width: 4.5cm;
            padding-left: 1rem;
        }
        @footnote {
            border-clip: 6rem;
            border-top: 1px solid darkgray;
            padding-top: 0.6rem;
            margin: 1.1rem 4.8cm 0 4.8cm;
        }
        @page-float-bottom {
            padding: 1rem 0 0 0;
        }
    }
    @page:left {
        @top-left {
            margin-left: 4.8cm;
            content: counter(page);
            font-family: 'Noto Serif';
            font-size: 0.9rem;
        }
        @top-center {
            font-family: 'Noto Serif';
            content: 'Carl Schmitt Tagebücher';
            font-size: 0.9rem;
        }
    }
    @page:right {
        @top-center {
            font-family: 'Noto Serif';
            font-size: 0.9rem;
        }
        @top-right {
            font-family: 'Noto Serif';
            margin-right: 4.8cm;
            content: counter(page);
        }
        /* @top-center {
            font-family: 'Noto Serif', serif;
        } */
    }
    @page:nth(1) {
        @top-right {
            content: "";
        }
        @top-center {
            content: "";
        }
    }
    @page:nth(2) {
        @top-left {
            content: "";
        }
        @top-center {
            content: "";
        }
    }

    /* Footnote styles */

    .edit-fn {
        float: footnote;
        footnote-style-position: inside;
        font-weight: normal;
        font-size: 0.9rem;
        line-height: 1.125rem;
    }
    *::footnote-call {
        font-family: 'Noto Serif';
        font-size: 80%;
        line-height: none;
        vertical-align: super;
    }

    /* Entity note styles */
    .entity-note {
        display: inline-block;
        -prince-float: outsidenote;
        font-size: 0.8rem;
        line-height: 0.82rem;
        font-style: normal;
        font-weight: normal;
        letter-spacing: 0;
        color: #656565;
        hyphens: auto;
        text-align: left;
        position: relative;
        top: 0.4rem;
        margin-bottom: 0.2rem;
    }

    /* Page begin note styles */

    .orig-pb-call {
        color: #656565;
        font-weight: bold;
    }

    .orig-pb-content {
        color: #656565;
        -prince-float: insidenote;
        font-size: 0.9rem;
        text-align: center;
    }

    .top-placeholder {
        display: inline-block;
        height: 4rem;
    }

}