<!doctype html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
		@media print {
			@page:right {
				@top-center {
					content: "März bis September 1943";
				}
			}
		}
	</style>
	<link rel="stylesheet" href="../print.css">
</head>
<body>
	<header>
		<h1>Carl Schmitt <span style="font-weight: bold">Tagebücher</span></h1>
		<h2><span style="font-style: italic;">Digitale Edition</span>, hg. von<br>
		Philipp Manow und Florian Meinel</h2>
	</header>
	{{ content | safe }}
</body>
</html>