main {
    margin-top: 25px;
}

.editorial-text {
    padding-bottom: 12px;
}

.editorial-text h1 .subtitle,
main h2 .subtitle,
main h3 .subtitle {
    font-weight: 400;
}

.editorial-text > p {
    font-style: italic;
}

.editorial-text p {
    line-height: 1.4rem;
}

.editorial-text .intro {
    max-width: 725px;
    margin: 0 auto;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--border-color-1);
}

.editorial-text .intro a {
    font-variation-settings: 'wght' 500;
}

main h3 {
    margin: 2px 0 6px 0;
}

.diary-list a .title {
    font-style: italic;
    font-variation-settings: 'wght' 500;
}

ul.diary-list {
    list-style-type: lower-greek;
    margin: 4px 0 16px 0;
}

main .diary-list li {
    line-height: 1.6em;
}

.col-wrapper {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.col {
    max-width: 750px;
    flex: 1;
    margin: 0 auto;
}

/*
 *  Mobile Styles
 */
 @media only screen and (max-width: 799.999px) {

 } 

/*
 *  Narrow Styles
 */

@media only screen and (max-width: 1099.999999px) {
    .col-wrapper {
        flex-direction: column;
    }
}

/*
 *  Wide Styles
 */

 @media only screen and (min-width: 1100px) {
    .col-wrapper {
        flex-direction: row;
    }
    .col:first-child {
        padding-right: 25px;
        border-right: 1px solid var(--border-color-2);
    }
    .col:nth-child(2) {
        padding-left: 25px;
    }
}