main {
	max-width: 760px;
	margin: 0 auto;
}

.accordion-wrapper {
	box-shadow: rgba(0,0,0,.12)0 1px 3px,rgba(0,0,0,.24)0 1px 2px;
	padding: 0;
	margin: 15px 0;
}

.accordion-wrapper {
	background-color: var(--background-layer-2);
}

.accordion-wrapper,
.accordion-wrapper h2 button {
	color: var(--main-text-color);
}

.accordion-wrapper h2.entity-name,
.accordion-wrapper .panel {
	padding: 7px 35px;
}

h2.entity-name {
	margin: 0;
	line-height: 1rem;
	padding: 3px 0;
}

.entity-name button {
	font-size: 1rem;
	padding: 0;
	cursor: default;
}

.entity-name button i {
	padding-left: 0.8rem;
}

.accordion-wrapper .panel {
	border-top: 1px solid var(--border-color-1);
}

.accordion-wrapper .panel h3,
.accordion-wrapper .panel p {
	margin: 3px 0;
}

.accordion-wrapper .panel h3 {
	font-size: 1rem;
	font-style: italic;
	font-weight: normal;
}

@media only screen and (max-width: 767.999px) {
	.gnd-mark {
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	.entity-name button {
		display: flex;
		width: 100%;
	}
	.gnd-mark {
		font-family: var(--deco-font);
		font-size: 0.85rem;
		margin-left: auto;
		color: var(--grayed-out-font-color);
		align-self: center;
	}
}