main {
	box-shadow: var(--box-shadow-1);
	max-width: 700px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 10px 35px;
}

.cst-info,
.gnd-data,
.list-link {
	border-bottom: 1px solid var(--border-color-1);
	margin-bottom: 18px;
}
.list-link {
	padding-bottom: 18px;
}

ul {
	list-style-type: none;
	padding: 0;
}

ul li {
	padding: 3px 0;
	line-height: 1.4rem;
}
