footer {
    margin-top: 25px;
    font-family: var(--deco-font);;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 12px;
    background: var(--background-layer-1);
}

footer ul {
    text-align: center;
    list-style-type: none;
    padding: 25px 0;
    margin: 0;
}

footer ul li {
    line-height: 2.2em;
}

footer ul li a {
    text-decoration: none;
    color: var(--main-text-color);
}
footer ul li a:hover {
    color: var(--link-color);
    text-decoration: underline;
}

footer ul li i:not(a *) {
    opacity: 0;
}

footer .versions-link i,
footer .linktree-link i,
footer .gitlab-link i,
footer .primary-text-download-link i {
    font-size: x-large;
    padding: 0 8px;
}

footer .linktree-link i {
    color: var(--orcid-link-color);
}

footer .gitlab-link i {
    color: darkorange;
}

footer .primary-text-download-link i {
    color: var(--footer-archive-box-color);
}

footer .versions-link i {
    color: var(--footer-versions-color);
}