:root {
    --box-shadow-1: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    --text-on-dark-background-color: #ddd;
    --deco-font: 'Roboto', 'Josefin sans', 'Gill sans', Helvetica, sans-serif;
    --main-font: 'Lora', serif;
    --main-text-line-height: 1.6em;
    --standard-font-size: 16px;
}

/*
 *  Themes
 */
.black-theme {
    --background-color: black;
    --border-color-1: rgba(255, 255, 255, 0.23);
    --border-color-2: rgba(255, 255, 255, 0.11);
    --button-background-color: #3a3a3a;
    --button-active-background-color: #343434;
    --button-text-color: #0DE4CF;
    --diaries-icon-color: #FFB26A;
    --figure-caption-color: rgba(255, 255, 255, 0.65);
    --footer-archive-box-color: #ffd1dc;
    --footer-versions-color: aqua;
    --frit-meta-color: rgba(255, 255, 255, 0.65);
    --frit-unclear-color: rgba(255, 255, 255, 0.2);
    --gap-color: rgba(255, 255, 255, 0.28);
    --grayed-out-font-color: rgba(255, 255, 255, 0.6);
    --ink-color: #A7C7E7;
    --link-color: #D5A0FF;
    --main-highlighted-text-color: white;
    --orcid-link-color: #32CD32;
    --background-layer-1: rgba(255, 255, 255, 0.075);
    --background-layer-2: rgba(255, 255, 255, 0.035);
    --background-hover-overlay: rgba(255, 255, 255, 0.05);
    --main-text-color: rgba(255, 255, 255, 0.8);
    --opaque-menu-background: #222;
    --scrollbar-thumb-color: rgba(255, 255, 255, 0.6);
    --semi-opaque-background: rgba(66, 66, 66, 0.72);
    --switch-theme-button-color: gold;
    --switch-theme-button-color-start-page: gold;
    --secondary-link-color: #0DE4CF;
}
.bright-theme {
    --background-color: #fff;
    --border-color-1: rgba(0, 0, 0, 0.23);
    --border-color-2: rgba(0, 0, 0, 0.09);
    --button-background-color: #cfcfcf;
    --button-active-background-color: #cdcdcd;
    --button-text-color: navy;/* #8b008b; */
    --diaries-icon-color: saddlebrown;
    --figure-caption-color: rgba(0, 0, 0, 0.65);
    --footer-archive-box-color: #7f1a1a;
    --footer-versions-color: blue;
    --frit-meta-color: rgba(0, 0, 0, 0.75);
    --frit-unclear-color: rgba(0, 0, 0, 0.15);
    --gap-color: rgba(0, 0, 0, 0.31);
    --grayed-out-font-color: rgba(0, 0, 0, 0.6);
    --ink-color: #006B88;
    --link-color: blue;
    --main-highlighted-text-color: black;
    --orcid-link-color: green;
    --background-layer-1: rgba(0, 0, 0, 0.1);
    --background-layer-2: rgba(0, 0, 0, 0);
    --background-hover-overlay: rgba(0, 0, 0, 0.05);
    --main-text-color: #050505;
    --opaque-menu-background: lightgray;
    --scrollbar-thumb-color: rgba(0, 0, 0, 0.6);
    --semi-opaque-background: rgba(191, 191, 191, 0.72);
    --switch-theme-button-color: blue;
    --switch-theme-button-color-start-page: aqua;
    --secondary-link-color: purple;
}
.dark-theme {
    --background-color: #121212;
    --border-color-1: rgba(255, 255, 255, 0.23);
    --border-color-2: rgba(255, 255, 255, 0.11);
    --button-background-color: #3a3a3a;
    --button-active-background-color: #343434;
    --button-text-color: #0DE4CF;
    --diaries-icon-color: #FFB26A;
    --figure-caption-color: rgba(255, 255, 255, 0.65);
    --footer-archive-box-color: #ffd1dc;
    --footer-versions-color: aqua;
    --frit-meta-color: rgba(255, 255, 255, 0.65);
    --frit-unclear-color: rgba(255, 255, 255, 0.17);
    --gap-color: rgba(255, 255, 255, 0.25);
    --grayed-out-font-color: rgba(255, 255, 255, 0.6);
    --ink-color: #A7C7E7;
    --link-color: #D5A0FF;
    --main-highlighted-text-color: white;
    --orcid-link-color: #32CD32;
    --background-layer-1: rgba(255, 255, 255, 0.075);
    --background-layer-2: rgba(255, 255, 255, 0.032);
    --background-hover-overlay: rgba(255, 255, 255, 0.05);
    --main-text-color: rgba(255, 255, 255, 0.8);
    --opaque-menu-background: #333;
    --scrollbar-thumb-color: rgba(255, 255, 255, 0.6);
    --semi-opaque-background: rgba(66, 66, 66, 0.72);
    --switch-theme-button-color: gold;
    --switch-theme-button-color-start-page: gold;
    --secondary-link-color: #0DE4CF;
}
.light-theme {
    --background-color: #F2F0E6;
    --border-color-1: rgba(0, 0, 0, 0.23);
    --border-color-2: rgba(0, 0, 0, 0.09);
    --button-background-color: #ccc;
    --button-active-background-color: #bfbfbf;
    --button-text-color: #4D0080;
    --diaries-icon-color: saddlebrown;
    --figure-caption-color: rgba(0, 0, 0, 0.65);
    --footer-archive-box-color: #7f1a1a;
    --footer-versions-color: blue;
    --frit-meta-color: rgba(0, 0, 0, 0.65);
    --frit-unclear-color: rgba(0, 0, 0, 0.15);
    --gap-color: rgba(0, 0, 0, 0.31);
    --grayed-out-font-color: rgba(0, 0, 0, 0.6);
    --ink-color: #006B88;
    --link-color: #2424db;
    --main-highlighted-text-color: black;
    --orcid-link-color: green;
    --background-layer-1: rgba(0, 0, 0, 0.1);
    --background-layer-2: rgba(0, 0, 0, 0);
    --background-hover-overlay: rgba(0, 0, 0, 0.05);
    --main-text-color: #121212;
    --opaque-menu-background: lightgray;
    --scrollbar-thumb-color: rgba(0, 0, 0, 0.6);
    --semi-opaque-background: rgba(191, 189, 179, 0.72);
    --switch-theme-button-color: #040348;
    --switch-theme-button-color-start-page: gold;
    --secondary-link-color: purple;
}

/*
 *  Button Styles
 */

button.bare {
    background: none;
    outline: none;
    cursor: pointer;
    border: none;
}

button.accordion {
    color: var(--main-text-color);
}

button.accordion i {
    color: var(--button-text-color);
    padding-left: 0.65rem;
}

/*
 *  REM font sizing
 */

html {
    font-size: 16px;
}

.dropdown-content a {
    font-size: 1rem;
}

.editorial-text h1,
.notebook-description h1 {
    font-size: 1.7rem;
    margin: 0.85rem 0;
}

.editorial-text h2,
.notebook-description h2 {
    font-size: 1.5rem;
    margin: 1.2rem 0 0.8rem 0;
}

.editorial-text h3,
.notebook-description h3 {
    font-size: 1.1rem;
    margin: 0.5rem 0;
}

.editorial-text h4 {
    font-size: 1.15rem;
}

h1, h2, h3, h4 {
    line-height: 1.5em;
    font-family: var(--deco-font);
    font-weight: 700;
}

.editorial-text p,
.notebook-description p,
.notebook-description .downloads {
    margin: 0.65rem 0;
}

.editorial-text p,
.frit-viewer p,
.notebook-description p {
    font-size: 1rem;
}

.tei-xml-source-link a {
    font-size: 0.9rem;
    color: var(--grayed-out-font-color) !important;
}
.tei-xml-source-link a i {
    color: var(--link-color);
}
.tei-xml-source-link a:hover {
    color: var(--link-color) !important;
}

main p {
    hyphens: auto;
    line-height: var(--main-text-line-height);
}

figure figcaption {
    font-size: 0.85rem;
    line-height: 1.1rem;
    color: var(--figure-caption-color);
}

/*
 *  Scrollbar Styles
 */

::-webkit-scrollbar {
    background: transparent;
    width: 9px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    width: 9px;
    background: var(--scrollbar-thumb-color);
}

/*
 *  Drop Styles
 */

.dropdown {
    position: relative;
}

.hover.dropdown, .hover.dropdown .wrapper {
    width: 100%;
    height: 100%;
}

.hover.dropdown:hover .dropdown-content {
    display: block;
}

.hover.dropdown:hover, .hover.dropdown:hover .dropdown-content {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.dropdown button {
    width: 100%;
    height: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: var(--semi-opaque-background);
    backdrop-filter: blur(3px);
}

#main-nav-bar-mobile-menu .dropdown-content {
    right: 0;
    text-align: right;
}

#main-nav-bar-registers-menu .dropdown-content {
    text-align: center;
    right: 0;
    width: 100%;
}

.dropdown-content a {
    display: block;
    padding: 9px 20px;
    font-weight: normal;
}

.dropdown-content a:hover {
    background: var(--background-hover-overlay);
}

.dropdown-content a:not(:first-child) {
    border-top: 1px solid var(--border-color-1);
}

.show-block-content {
    display: block;
    z-index: 1;
}

/*
 *  Main Content Styles
 */


body {
    max-width: 1480px;
    margin: 0 auto;
    margin-top: 8px;
    background-color: var(--background-color);
    padding: 0 8px;
}

main {
    font-family: var(--main-font);
    color: var(--main-text-color);
}
main a {
    color: var(--link-color);
    text-decoration: none;
}
main a:hover {
    color: var(--link-color);
    text-decoration: underline;
}
main a:visited {
    color: var(--secondary-link-color);
}
main a.inactive-link:hover {
    text-decoration: none;
}

main button {
    font-family: var(--main-font);
}

ul li::marker {
    color: var(--main-text-color);
}

/*
 *  Editorial Text Styles
 */

.editorial-text,
.notebook-description {
    margin: 0 auto;
    margin-top: 25px;
}

.editorial-text a .title {
    font-style: italic;
}

.editorial-text .heading-wrapper,
.notebook-description .heading-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.editorial-text .heading-wrapper h1 {
    margin: 5px 0;
}

.editorial-text figure figcaption {
    max-width: 300px;
}

.inactive-link,
.inactive-link:hover,
.inactive-link:visited {
    color: var(--grayed-out-font-color);
}

/*
 *  TEI Button Styles
 */

.tei-xml-source-link {
    font-family: 'Courier New', Courier, monospace;
}

.tei-xml-source-link a {
    font-weight: bold;
}


.tei-xml-source-link i {
    padding-right: 6px;
}

/*
 *  Non Mobile Styles
 */

@media only screen and (min-width: 767.999px) {
    .editorial-text,
    .notebook-description {
        padding: 25px 35px 35px 35px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        background-color: var(--background-layer-2);
    }
    .editorial-text figure {
        float: right;
        margin: 1px 0 0 20px;
        padding: 4px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
    .editorial-text figure figcaption {
        text-align: right;
        padding: 2px 4px;
    }
}

/*
 *  Mobile Styles
 */

@media only screen and (max-width: 767.999px) {
    .editorial-text,
    .notebook-description {
        padding: 5px 3px;
    }
    .editorial-text figure {
        margin-left: 0;
        width: fit-content;
        margin-top: 12px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
    .editorial-text figure {
        padding: 4px;
    } 
    .editorial-text figure figcaption {
        padding: 4px;
    }
}

/*
 *  Smartphone Vertical Styles
 */