/*
 *  Cover Image Container Styles
 */

#cover-image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: var(--deco-font); /* var(--deco-font); */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#cover-image-container img {
    width: 100%;
}

#main-nav-bar {
    width: 100%;
}

/*
 *  Main Nav Bar Styles
 */

/*
 *  Cover Label Styles
 */

#cover-label header {
    text-align: center;
    padding: 9px 22px;
    font-family: var(--deco-font);;
    letter-spacing: 0.5px;
}

#cover-label header h1 {
    font-weight: normal;
    margin: 0.2em;
}

#cover-label header .main-title {
    font-weight: bold;
    letter-spacing: 1.275px;
}

#cover-label header p {
    margin: 0.2em;
    line-height: 1.4em;
}

#cover-label header p.version-info {
    font-size: 14px;
}

#cover-label header p .subtitle {
    font-style: italic;
}

/*
 *  Caption Styles
 */

#cover-image-container .caption .inner-wrapper {
    font-size: 14px;
    padding: 2px 5px;
    line-height: 1.4em;
}
#cover-image-container .caption a {
    text-decoration: none;
    font-weight: 500;
}

/*
 *  Main Content Styles
 */

/*
 *  Available Book Widget Styles
 */

#available-books-widget {
    margin-top: 12px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: fit-content;
    margin-left: auto;
    margin-top: 20px;
    background: var(--background-layer-2);
}

#available-books-widget button {
    background: none;
    outline: none;
    cursor: pointer;
    text-align: right;
    padding: 0;
    margin-left: auto;
    width: 100%;
}
#available-books-widget button:hover {
    background: var(--background-hover-overlay);
}

#available-books-widget button h3 {
    margin: 0.25rem;
    padding: 0.6rem 1rem;
    /* color: var(--main-text-color); */
}

#available-books-widget h3 i {
    padding-left: 0.45rem;
    color: var(--secondary-link-color);
}

#available-books-widget .entry a {
    font-weight: 500;
}

#available-books-widget .body {
    padding: 15px 0;
    border-top: 1px solid var(--border-color-1);
    border-bottom: 1px solid var(--border-color-1);
}

#available-books-widget .body a {
    width: 100%;
    height: 100%;
}

#available-books-widget .entry {
    display: flex;
    padding: 5px
}

#available-books-widget p {
    margin: 0.65rem 0;
    min-width: 300px;
}

#available-books-widget .book-dimensions {
    display: inline-block;
}

#available-books-widget .panel {
    display: none;
}

#available-books-widget .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    font-style: italic;
}

#available-books-widget .footer button {
    margin: 0;
    height: 100%;
    width: 3rem;
}

#available-books-widget .footer button i {
    font-size: large;
    padding: 12px;
    color: var(--secondary-link-color);
}

/*
 *  Editorial Styles
 */

.editorial-text {
    max-width: 760px;
    padding-top: 2rem;
}

main section {
    max-width: 39rem;
    margin: 0 auto;
}

#diaries-button i {
    color: sandybrown;
}

#project-description {
    margin-top: 12px;
}


/*
 *  Team Table Styles
 */

#team .grid {
    border-top: 1px solid var(--border-color-2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#team .grid > span  {
    border-bottom: 1px solid var(--border-color-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 0;
}
#team .grid > .resp {
    font-weight: 500;
    padding-right: 12px
}
.orcid-link, .orcid-link:visited {
    color: var(--main-text-color);
}
.orcid-link:hover {
    color: var(--link-color);
}
.orcid-link i {
    padding-left: 0.14rem;
    vertical-align: super;
    color: var(--orcid-link-color);
}

/*
 *  Desktop Styles
 */

@media only screen and (min-width: 768px) and (max-width: 924.999px) {
    #main-nav-bar-mobile-menu-button i {
        color: var(--text-on-dark-background-color);
    }
}

@media only screen and (min-width: 800px) {
    #font-size-buttons-wrapper button {
        color: var(--text-on-dark-background-color);
    }
    #cover-label {
        position: absolute;
    }
    #cover-label header {
        background: rgba(0, 0, 0, 0.7);
        color: var(--text-on-dark-background-color);;
    }
    #cover-label header h1 {
        font-size: x-large;
    }
    #cover-image-container .caption {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.725);
        text-align: right;
    }
    #cover-label, #cover-image-container .caption {
        backdrop-filter: blur(2px);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        color: var(--text-on-dark-background-color);;
    }
    #cover-image-container .caption a {
        color: var(--switch-theme-button-color-start-page);
    }
    #cover-image-container .caption a:hover {
        text-decoration: underline;
    }
}

/*
 *  Mobile Styles
 */

@media only screen and (max-width: 799.999px) {
    #cover-label header h1 {
        font-size: 24px;
    }
    #cover-label header p:nth-child(2) {
        font-size: 18px;
    }
    #cover-label, #cover-image-container .caption {
        width: 100%;
        text-align: center;
    }
    #cover-image-container {
        color: var(--main-text-color);
    }
    #cover-label, .caption {
        background: var(--background-layer-1);
    }
    #cover-label header {
        padding-top: 10px;
        padding-bottom: 3px;
    }
    .caption a:visited {
        color: var(--secondary-link-color);
    }
    #cover-label .version-info {
        border-bottom: 1px solid var(--border-color-2);
        padding-bottom: 7px;
    }

}

/*
 *  Non Narrow Styles
*/

@media only screen and (min-width: 768px) {
    #main-nav-bar {
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.725);
        backdrop-filter: blur(2px);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    #main-nav-bar-mobile-menu-button, #main-nav-bar a {
        color: var(--text-on-dark-background-color);
    }
    #main-nav-bar-registers-menu .dropdown-content a:hover, #main-nav-bar > header:hover, #main-nav-bar ul li:hover, #switch-theme-button-wrapper button:hover, #main-nav-bar-mobile-menu-button:hover, #font-size-buttons-wrapper button:hover, .dropdown-content.show-block-content a:hover {
        background-color: rgba(255, 255, 255, 0.11);
    }
    .dropdown-content {
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(7px);
    }
    #switch-theme-button i {
        color: var(--switch-theme-button-color-start-page);
    }
    #team .grid > .name {
    padding-left: 35%; 
    }
/*
 *  Dropdown Styles
 */
    .dropdown-content {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .dropdown-content a:hover, #main-nav-bar a:hover, #font-size-buttons-wrapper button:hover, .hover.dropdown:hover .wrapper>a .inner-wrapper {
        color: white;
    }
    .dropdown-content a:not(:first-child) {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
    }
    /*
     *  Available Book Widget Styles
     */
    main .widget-wrapper {
        max-width: 830px;
        margin: 0 auto;
    }
    #available-books-widget {
        margin-left: auto;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
    #available-books-widget .panel {
        padding: 0 40px 8px 40px;
    }
    #available-books-widget .entry {
        flex-direction: row;
    }
    #available-books-widget .entry p {
        max-width: 52%;
    }
    #available-books-widget .entry img {
        width: 100%;
        cursor: pointer;
    }
}

/* @media only screen and (min-width: 800px) {
    #cover-label, #cover-image-container .caption {
        backdrop-filter: blur(2px);
    }
} */

/*
 *  Other Mobile Styles
 */

@media only screen and (max-width: 767.999px) {
    #main-nav-bar {
        position: initial;
    }
    #cover-image-container .caption .inner-wrapper {
        text-align: center;
    }
    #cover-image-container .caption a {
        color: var(--switch-theme-button-color);
    }
    #available-books-widget {
        padding: 0;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
    #available-books-widget .panel {
        padding: 3px 10px;
    }
    #available-books-widget .entry {
        flex-direction: column;
    }
    #available-books-widget .entry img {
        width: 100%;
    }
    #team .grid > .name {
    padding-left: 20%;
    }
}

/*
 *  Smartphone Vertical Styles
 */

@media only screen and (max-width: 499.999px) {
    #available-books-widget {
        width: 100%;
    }
}