#main-nav-bar {
    background: var(--background-layer-1);
    display: flex;
    width: 100%;
    height: 85px;
    font-family: var(--deco-font);
    font-size: 18px;
    letter-spacing: 0.45px;
}

#main-nav-bar > header {
    padding: 0;
}

#main-nav-bar > header a {
    height: 100%;
    display: flex;
    padding: 1px 20px 0 20px;
    align-items: center;
    justify-content: center;
}

#main-nav-bar > header .line-2 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.9px;
    padding-top: 1px;
    display: inline-block;
}

#main-nav-bar > header .version-info {
    font-size: 12px;
}

#main-nav-bar a {
    color: var(--main-text-color);
}

#main-nav-bar a:hover {
    color: var(--main-highlighted-text-color);
}

#main-nav-bar > header a:hover, #main-nav-bar:not(.start-page *) ul li:hover, #main-nav-bar-mobile-menu-button:hover, #main-nav-bar-config-buttons-wrapper button:hover {
    background: var(--background-layer-1);
}

#main-nav-bar:not(.start-page *) #diaries-button i {
    color: var(--diaries-icon-color);
}

ul#main-nav-bar-buttons {
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    list-style: none;
}

ul#main-nav-bar-buttons li {
    padding: 0;
}

#main-nav-bar a {
    text-decoration: none;
}

ul#main-nav-bar-buttons li>a, #main-nav-bar-registers-menu .wrapper>a {
    display: flex;
    align-items: center;
    padding: 0 25px;
    height: 100%;
}

#diaries-button .inner-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#diaries-button i {
    font-size: 27px;
    padding-right: 5px;
}

#main-nav-bar-config-buttons-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#main-nav-bar-config-buttons-wrapper button {
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
}

#switch-theme-button-wrapper {
    flex: 5;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

#switch-theme-button {
    flex-direction: row;
    justify-content: end;
    align-items: flex-start;
    padding-top: 10px;
    padding-right: 20px;
}

#switch-theme-button i {
    font-size: 31px;
    color: var(--switch-theme-button-color);
}

#font-size-buttons-wrapper {
    flex: 4;
    flex-direction: row;
    padding-right: 7px;
}

#font-size-buttons-wrapper button {
    flex-direction: column;
    justify-content: end;
    flex: 1;
    width: 100%;
    height: 100%;
    padding-bottom: 4px;
    color: var(--main-text-color);
}

#small-font-size-button {
    font-size: small;
}

#medium-font-size-button {
    font-size: large;
}

#large-font-size-button {
    font-size: x-large;
}

/*
 *  Desktop Styles
 */

@media only screen and (min-width: 925px){
    #main-nav-bar {
        justify-content: space-between;
    }
    #main-nav-bar > header {
        margin-left: 30px;
        flex-shrink: 0;
    }
    #main-nav-bar-buttons {
        display: flex;
        flex-direction: row;
        max-width: 1000px;
    }
    #main-nav-bar-mobile-menu-button {
        display: none;
    }
}

/*
 *  Mobile Styles
 */

@media only screen and (max-width: 924.999px) {
    #main-nav-bar > header {
        margin: 0 0 0 12px;
    }
    #main-nav-bar-buttons {
        display: none;
    }
    #main-nav-bar-mobile-menu-button i {
        color: var(--main-text-color);
    }
    #main-nav-bar-mobile-menu {
        margin-left: auto;
    }
    #main-nav-bar-mobile-menu-button {
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 24px;
        padding: 0 20px;
    }
}

/*
 *  Non Narrow Styles
 */

@media only screen and (min-width: 800px) {
    #main-nav-bar {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    #main-nav-bar-config-buttons-wrapper {
        margin-right: 20px;
        width: 92px;
    }
    #font-size-buttons-wrapper {
        display: flex;
    }
}

/*
 *  Narrow Styles
 */

@media only screen and (max-width: 799.999px) {
    #main-nav-bar-config-buttons-wrapper {
        margin-right: 10px;
        width: 70px;
    }
    #font-size-buttons-wrapper {
        display: none;
    }
}
