.frit.front {
    margin-top: 30px;
}
.frit.front .frit-description {
    border-bottom: 1px solid var(--border-color-2);
}

.frit.front .lb {
    display: none;
}

.frit-description .image-transcription-link {
    cursor: pointer;
    margin-right: 9px;
}
.frit-description .image-transcription-link, .frit-description a.link-to-iiif-scan {
    color: var(--frit-meta-color);
}
.frit-description .image-transcription-link:hover, .frit-description .link-to-iiif-scan:hover {
    color: var(--link-color);
    text-decoration: underline;
}
.frit-description .image-transcription-link i, .frit-description .link-to-iiif-scan i {
    padding-right: 5px;
    color: var(--link-color);
}

.frit-description .link-to-iiif-scan i {
    padding-left: 2px;
    font-size: large;
    position: relative;
    top: 1px;
}

.spread-wrapper {
    display: flex;
    margin: 0;
}

.page {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.page-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    border-top: 1px solid var(--border-color-2);
}

.frit-viewer .frit-description, .frit-viewer .page-info {
    color: var(--frit-meta-color);
    font-family: var(--deco-font);
}
.frit-viewer .page-info {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7px 0;
}

.frit-viewer .page-content {
    width:  100%;
}

.frit.front .archival-note {
    line-height: 1.8rem;
}
.frit.front .signature-group {
    font-size: 1.6rem;
}
.frit.front .call-number {
    font-family: 'indie flower', cursive;
    font-size: 1.3rem;
    color: var(--ink-color);
}

.frit-viewer .lbCountBracket {
    position: relative;
    bottom: 0.055rem;
}

.frit-viewer .lb {
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    padding-right: 0.23rem;
    vertical-align: top;
    display: var(--lb-display-mode);
    color: var(--grayed-out-font-color);
}

.frit .lb[data-in-word] {
    padding: 0;
}

.frit.front .frit-description {
    padding: 14px 0;
}
.frit.front .spread-wrapper {
    justify-content:  flex-end;
}
.frit-viewer .front .right-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.frit-viewer .page-info .left, .frit-viewer .page-info .right {
    padding: 0 0 6px 0;
    font-size: 0.9rem;
}


/*
 *  Desktop Styles
 */

@media only screen and (min-width: 768px) {
    .frit:not(:nth-child(2)) {
        margin-top: 60px;
    }
    .frit {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .frit.front .right-page {
        border-left: 1px solid var(--border-color-2);
    }
    .frit-description {
        padding: 16px 0 0 0;
    }
    .frit .spread-wrapper {
        flex-direction: row;
    }
    .frit .page-content-wrapper .anchor-col {
        width: 32px;
    }
    .frit .page-content-wrapper {
        padding: 15px 0 0 0;
    }
    .frit .left-page .page-content-wrapper {
        border-right: 1px solid var(--border-color-2);
    }
    .frit .page-content {
        padding: 0 20px 20px 0;
        max-width: 610px;
        margin: 0 auto;
        padding-top: 0.5rem;
    }
}

/*
 *  Mobile Styles
 */

@media only screen and (max-width: 767.999px) {
    .frit:not(.front) {
        margin-top: 5px;
    }
    .frit-description {
        padding: 9px 0 5px 0;
    }
    .spread-wrapper {
        display: flex;
        flex-direction: column;
    }
    .page:first-child .page-content-wrapper {
        border-right: none;
    }
    .frit .page[data-empty] {
        display: none;
    }
    .frit .page-content-wrapper .anchor-col {
        width: 16px;
    }
    .frit .page-content-wrapper {
        padding: 12px 0 0 0;
    }
    .frit-viewer .page-content {
        padding: 0 0 5px 0;
    }
}