/*
 *  Text Display Modes
 */

.standard-text-mode {
    --db-link-display-mode: inline-block;
    --editorial-comment-display-mode: initial;
    --lb-display-mode: inline;
}
.zen-text-mode {
    --db-link-display-mode: none;
    --editorial-comment-display-mode: none;
    --lb-display-mode: none;
}

button.accordion {
    background: var(--background-hover-overlay);
    padding: 2px 10px;
    border: 1px solid var(--border-color-1);
}
button.accordion:active {
  background: rgba(0, 0, 0, 0.095);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.frit-viewer .editorial-comment,
#legend-editorial-comment i {
    font-size: 0.825rem;
    position: relative;
    bottom: 0.32rem;
    color: var(--link-color);
}
.frit-viewer .editorial-comment {
    display: var(--editorial-comment-display-mode);
}

.frit-viewer .tab {
    display: inline-block;
    width: 3rem;
}

.frit-viewer .unclear {
    color: var(--grayed-out-font-color);
}

.frit-description {
    color: var(--frit-meta-color);
    text-align: center;
    font-size: 0.9rem;
}

.notebook-description {
    margin-top: 25px;
    max-width: 725px;
    margin-bottom: 25px;
}

.notebook-description .heading-wrapper h3 i {
    padding-left: 0.65rem;
}

/*
 *  Editorial Styles
 */

.notebook-description .downloads a {
    display: block;
    padding: 0.5rem 0;
}
.notebook-description .downloads a i {
    font-size: 1.5rem;
}
.notebook-description .downloads a:visited {
    color: var(--link-color);
}

.notebook-description ul li {
    margin: 0.375rem 0;
    line-height: var(--main-text-line-height);
}

/*
 *  Frit Toolbar
 */

#frit-toolbar {
    background: var(--background-layer-1);
    display: flex;
    flex-direction: row;
    font-size: var(--standard-font-size);
    padding: 1px 4px 1px 0; /* When finished: 1px 3px; */
    position: sticky;
    right: 16px;
    top: 16px;
    width: fit-content;
    margin-left: auto;
    align-items: center;
    border: 1px solid var(--border-color-1);
    background: var(--background-layer-1);
    z-index: 1;
    font-family: 'Roboto';
}
#frit-toolbar,
#frit-toolbar .dropdown-content {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    backdrop-filter: blur(3px);
}
#frit-toolbar .dropdown-content h1 {
    font-size: 19px;
    font-weight: normal;
}
#frit-toolbar .dropdown-content fieldset {
    border-color: var(--border-color-1);
}
#frit-toolbar input[type="radio"] {
    accent-color: var(--button-text-color);;
}

#frit-toolbar form input {
    width: 100px;
    height: 26px;
    font-size: 14px;
    background: var(--background-color);
    color: var(--main-text-color);
    border: 1px solid var(--border-color-1);
}

#frit-toolbar ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    padding-left: 4px;
}

#frit-toolbar ul li {
    padding: 0;
}

#frit-toolbar ul li button {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--button-background-color);
    color:  var(--button-text-color);
    border: 1px solid var(--border-color-1);
    margin: 3px;
}
#frit-toolbar ul li button:active {
  background: var(--button-active-background-color);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#frit-toolbar ul li button i {
    font-size: 18px;
    margin: 0;
    color: var(--button-text-color);
}

#frit-settings-menu,
#frit-legend {
    margin-top: 2px;
    padding: 6px 4px 4px 4px;
    background-color: var(--opaque-menu-background);
}
#frit-settings-menu {
    right: -4px;
}
#frit-legend {
    right: -42px;
    min-width: 360px;
    hyphens: auto;
}
#frit-legend h1 {
    padding-left: 8px;
}
#frit-legend .grid-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#frit-legend .grid-table > span {
    padding: 6px;
    border-top: 1px solid var(--border-color-1);
}
#frit-legend .grid-table .rendition {
    font-family: var(--main-font);
    display: flex;
    align-items: center;
}
#frit-legend .grid-table .meaning,
#frit-legend .comment
 {
    font-size: 15px;
}
#frit-legend .meaning,
#frit-legend .comment {
    hyphens: auto;
}
#frit-legend .comments {
    border-top: 1px solid var(--border-color-1);
    padding-top: 5px;
}
#frit-legend .comment {
    padding: 6px;
    display: block;
}

/*
 *  Frit Viewer Main Content
 */

.frit ul {
    margin: 0;
    padding: 5px 0 0 5px;
}
.frit ul li {
    line-height: 1.6em;
}
.frit ul li .lb:first-child {
    display: inline-block;
    width: 1.6em;
}

main a:visited {
    color: var(--main-text-color);
}

.frit-viewer .right-page {
    min-height: 600px;
}

.frit-viewer .front header {
    width: fit-content;
    height: fit-content;
    margin: 12px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border: 1px solid var(--border-color-1);
}

.archival-note {
    font-family: 'Courier New', Courier, monospace;
}


.frit-viewer div.note {
    margin-bottom: 8px;
}

.frit-viewer .entry-date {
    font-weight: bold;
}

.frit-viewer .excerpt h1 {
    font-size: 17px;
    font-weight: 500;
    padding: 0 5px;
}

.frit-viewer .gap.syllable::after {
    width: 12px;
}
.frit-viewer .gap.word::after {
    width: 40px;
}
.frit-viewer .gap::after {
    display: inline-block;
    height: 1.27rem;
    vertical-align: text-bottom;
    content: "";
    color: var(--gap-color);
    background: var(--gap-color);
}

.frit-viewer .hi {
    font-weight: 500;
    color: var(--main-highlighted-text-color);
}

.frit-viewer p, .frit-viewer div.note {
    width: fit-content;
    padding: 5px;
    margin: 0;
}

.frit-viewer .add,
.frit-viewer .note {
    font-style: italic;
}

.frit-viewer ul {
    list-style: none;
}

table.spendings {
    margin: 0 auto;
}

.supplied-bracket {
    color: var(--grayed-out-font-color);
}

table th, table td {
    padding: 2px 12px;
}

table.spendings td:nth-of-type(1) {
    padding-left: 0;
    width: 94px;
}
table.spendings td:nth-of-type(2) {
    width: 219px;
}
table.spendings td:nth-of-type(3) {
    text-align: right;
    font-family: 'Courier Prime', 'Courier New', monospace;
}
table.spendings td:nth-of-type(4) {
    padding-right: 0;
    font-family: 'Courier Prime', 'Courier New', monospace;
}

.longhand {
    letter-spacing: 0.051rem;
    padding: 0 0.05rem 0 0.075rem;
}

a.person,
a.work {
    color: var(--main-text-color);
    display: inline-block;
}
a.person:hover,
a.work:hover {
    /* text-decoration: underline; */
    color: var(--link-color);
}

a.person i,
a.work i,
#frit-toolbar #legend-link-to-external-entity i {
    transform: rotate(30deg);
    padding: 0 2px 0 1px;
    color: var(--link-color);
}
a.person i,
a.work i {
    display: var(--db-link-display-mode);
}

.frit-viewer .del,
.frit-viewer .del a {
    text-decoration: line-through;
}

@media only screen and (max-width: 767.999px) {
    .frit {
        border-top: 1px solid var(--border-color-2);
    }
    .frit .left-page:not([data-empty]),
    .frit .excerpt-col:not([data-empty]),
    .frit .verso:not([data-empty]) {
        border-bottom: 1px solid var(--border-color-2);
    }
}

@media only screen and (min-width: 767.999px) {
    .frit-viewer .frit {
        background-color: var(--background-layer-2);

    }
}