.editorial-text {
	max-width: 600px;
	margin: 0 auto;
	line-height: 1.575em;
	margin-top: 25px;
	font-family: 'Inconsolata', monospace;
}

.editorial-text ul {
	padding-left: 15px;
	list-style: none;
	margin-bottom: 0;
}

.editorial-text li, p {
	font-size: 1.1rem;
}

.editorial-text li::before {
	content: '-';
	position: absolute;
	margin-left: -15px;
}

.editorial-text li {
	padding-bottom: 20px;
}

.editorial-text .title {
	font-variation-settings: "wght" 500;
}